
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2><br /><br /><br />
<span>User Name</span>
<input type="text" id="txt_Username" /><br /><br />
<span>Password</span>
<input type="text" id="psw_psword" /><br /><br />
<a href="@Url.Action("checkLogin","Home")"><button>Login</button></a>


@*//Scafolding templates*@

